In [1]:
import pandas as pd
import datetime as dt
from wallet import Wallet
from option import Option
from stock import Stock
from strategy import Strategy
from data_gen import get_option_data

In [2]:
d_df = get_option_data()

In [3]:
d_df

,QUOTE_DATE,UNDERLYING_LAST,EXPIRE_DATE,DTE,STRIKE,C_ASK
0,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,85.0,18.40
1,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,90.0,13.57
2,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.0,11.58
3,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,92.5,11.08
4,2015-01-02 00:00:00,103.06,2015-01-02 00:00:00,0.0,93.0,10.48
...,...,...,...,...,...,...
21769,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,125.0,3.21
21770,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,130.0,2.27
21771,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,135.0,1.55
21772,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,140.0,1.02
21773,2015-01-30 00:00:00,101.08,2017-01-20 00:00:00,721.0,145.0,0.79

In [4]:
poor_wallet = Wallet()

In [5]:
print(poor_wallet)

amount: 0
    call_options_buy: <>
    call_options_sell: <>
    stocks: <>

In [6]:
strategy = Strategy(d_df, poor_wallet, pd.Timestamp(dt.date.fromisoformat('2015-01-02')))

In [ ]:
strategy = Strategy(d_df, poor_wallet, pd.Timestamp('2015-01-02'))

In [7]:
print(strategy.wallet)

amount: -27.43
    call_options_buy: <option: qqq: strike=44.63 2016-01-15 00:00:00>
    call_options_sell: <option: qqq: strike=70.0 2015-01-30 00:00:00>
    stocks: <>

In [8]:
strategy.wallet.amount

-27.43

In [9]:
print(strategy.wallet.call_options_buy[0].strike_price)

44.63