In [1]:
import pandas as pd
import datetime as dt
from wallet import Wallet
from option import Option
from stock import Stock
from data_gen import get_option_data

In [2]:
d_df = get_option_data()

In [3]:
d_df

       QUOTE_DATE  UNDERLYING_LAST EXPIRE_DATE    DTE  STRIKE  C_ASK
0      2015-01-02           103.06  2015-01-02    0.0    85.0  18.40
1      2015-01-02           103.06  2015-01-02    0.0    90.0  13.57
2      2015-01-02           103.06  2015-01-02    0.0    92.0  11.58
3      2015-01-02           103.06  2015-01-02    0.0    92.5  11.08
4      2015-01-02           103.06  2015-01-02    0.0    93.0  10.48
...           ...              ...         ...    ...     ...    ...
21769  2015-01-30           101.08  2017-01-20  721.0   125.0   3.21
21770  2015-01-30           101.08  2017-01-20  721.0   130.0   2.27
21771  2015-01-30           101.08  2017-01-20  721.0   135.0   1.55
21772  2015-01-30           101.08  2017-01-20  721.0   140.0   1.02
21773  2015-01-30           101.08  2017-01-20  721.0   145.0   0.79

[21774 rows x 6 columns]

In [4]:
d_df.loc[4,:]

QUOTE_DATE         2015-01-02
UNDERLYING_LAST        103.06
EXPIRE_DATE        2015-01-02
DTE                       0.0
STRIKE                   93.0
C_ASK                   10.48
Name: 4, dtype: object

In [5]:
poor_wallet = Wallet()

In [6]:
option_to_buy = Option.from_data_series(d_df.loc[956,:])

In [7]:
print(option_to_buy)

option: qqq: strike=120.0 2015-12-18

In [8]:
option_to_sell = Option.from_data_series(d_df.loc[199,:])

In [9]:
print(option_to_sell)

option: qqq: strike=110.0 2015-01-16

In [10]:
option_to_sell

In [11]:
print(poor_wallet)

amount: 0
    call_options_buy: <>
    call_options_sell: <>
    stocks: <>

In [12]:
poor_wallet.buy_call_option(option_to_buy)

In [13]:
print(poor_wallet)

amount: -1.48
    call_options_buy: <option: qqq: strike=120.0 2015-12-18>
    call_options_sell: <>
    stocks: <>

In [14]:
poor_wallet.sell_call_option(option_to_sell)

In [15]:
print(poor_wallet)

amount: -1.47
    call_options_buy: <option: qqq: strike=120.0 2015-12-18>
    call_options_sell: <option: qqq: strike=110.0 2015-01-16>
    stocks: <>

In [16]:
poor_wallet.realize_buy_call_option(0)

In [17]:
print(poor_wallet)

amount: -121.47
    call_options_buy: <>
    call_options_sell: <option: qqq: strike=110.0 2015-01-16>
    stocks: <stock: qqq>

In [18]:
print(poor_wallet)

amount: -121.47
    call_options_buy: <>
    call_options_sell: <option: qqq: strike=110.0 2015-01-16>
    stocks: <stock: qqq>

In [19]:
poor_wallet.realize_sell_call_option(0)

In [20]:
print(poor_wallet)

amount: -11.469999999999999
    call_options_buy: <>
    call_options_sell: <>
    stocks: <stock: qqq>

In [21]:
print(poor_wallet)

amount: -11.469999999999999
    call_options_buy: <>
    call_options_sell: <>
    stocks: <stock: qqq>

In [22]:
poor_wallet.sell_call_option(option_to_sell)

In [23]:
print(poor_wallet)

amount: -11.459999999999999
    call_options_buy: <>
    call_options_sell: <option: qqq: strike=110.0 2015-01-16>
    stocks: <stock: qqq>

In [24]:
poor_wallet.close_sell_call_option(price=10)

In [25]:
print(poor_wallet)

amount: -21.46
    call_options_buy: <>
    call_options_sell: <>
    stocks: <stock: qqq>

In [26]:
poor_wallet.buy_call_option(option_to_buy)

In [27]:
print(poor_wallet)

amount: -22.94
    call_options_buy: <option: qqq: strike=120.0 2015-12-18>
    call_options_sell: <>
    stocks: <stock: qqq>

In [28]:
poor_wallet.close_buy_call_option(10)

In [29]:
print(poor_wallet)

amount: -12.940000000000001
    call_options_buy: <>
    call_options_sell: <>
    stocks: <stock: qqq>